# Credenciales de UAM Virtual
UAM_USERNAME="tu_codigo_o_correo_aqui"
UAM_PASSWORD="tu_contraseña_aqui"

# Configuraciones del Navegador (Playwright)
HEADLESS_MODE=False 
BROWSER_TIMEOUT=30000

# Notificaciones
WA_PHONE_NUMBER="505XXXXXXXX" # Tu número con código de país, sin el "+" ni espacios

# Fechas para el resumen web (opcional, formato YYYY-MM-DD)
SEMESTER_START="2026-01-15"
SEMESTER_END="2026-05-30"
