# Credenciales de UAM Virtual
UAM_USERNAME="tu_codigo_o_correo_aqui"
UAM_PASSWORD="tu_contraseña_aqui"

# Configuraciones del Navegador (Playwright)
HEADLESS_MODE=False 
BROWSER_TIMEOUT=30000

# WhatsApp API (Ej. GreenAPI, Twilio o Evolution API)
WA_PHONE_NUMBER="505XXXXXXXX" # Tu número con código de país, sin el "+" ni espacios